/*Configurações gerais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
background-color: rgb(73, 73, 82);
color: rgb(222, 222, 235);
line-height: 1.5;
}



/* CABERÇALHO, BANNER E PERFIL */

.cabecalho {
        background-color: #1e293b;
        border-bottom: 3px solid #38bdf8; /* Linha de destaque azul */
        padding-bottom: 30px;
} 




/* FOTO DE PERFIL CIRCULAR */
.img-banner {
         width: 100%; /* Ocupa toda a largura da tela */
         height: 180px; /* Altura fixa */
         object-fit: cover; /* Impede que a imagem fique esticada ou esmagada */
}



/* CONTAINER DE INFORMAÇÕES */
.perfil-container {
          text-align: center; /* Centraliza o nome e a biografia */
          padding: 0 20px;
}





/* FOTO DE PERFIL CIRCULAR */
.img-perfil {
          width: 140px;
          height: 140px;
          object-fit: cover;
          border-radius: 50%; /* O TRUQUE: Transforma o quadrado num círculo perfeito! */
          border: 4px solid #38bdf8; /* Borda azul em volta da foto */
          margin-top: -65px; /* Sobe a foto para sobrepor o banner */
          background-color: #1e293b;
}


/* TÍTULO E PARÁGRAFO */
h1 {
       color: #38bdf8;
       margin-top: 12px;
       font-size: 1.8rem;
}
p {
       color: #94a3b8;
       font-size: 1rem;
       margin-top: 4px;
}  